div .post {
  margin: 30px 0 30px 0;
}

div .title {
  margin: 50px 0 50px 0;
}

div.sorting {
  display: inline-flex;
}

h3.ui.header {
  margin: 10px !important;
}

button.ui.primary.button {
  margin-left: 6.5px;
}

p.author {
  color: grey;
}
